.pagerDutyHeader {
  background-color: #202736;
  border-bottom: solid 1px grey;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;

  .title {
    :active {
      color: #68b538;
    }
    margin: .2rem;
    color: #68b538;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .search-section {
    display: inline-block;

    input {
      height: 1.4rem;
      margin-top: .3rem;
      margin-right: .5rem;
      border-radius: .3rem;
    }

    button {
      height: 1.5rem;
    }
  }
}
