@import 'src/assets/scss/header.scss';
@import 'src/assets/scss/pagerDutyHeader.scss';
@import 'src/assets/scss/home.scss';
@import '~fullcalendar/dist/fullcalendar.css';
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 80%;
  margin: auto;
  background-color: #F0F0F0;
  text-align: center;
  color: #2c3e50;

  .theCalendar {
  	margin-top: 1rem;
  }
}

