@mixin focus-styles {
  outline: 0;
  box-shadow: inset 0 0 0 1px $focus-color;
}

@mixin tab-focus() {
    @include box-shadow(0 0 0 1px $brand-focus-color);
    border-color:$brand-focus-color;
    outline: none;
}
